body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, .root {
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #CCC;
  text-decoration: none;
}

a:visited {
  color: #C50000;
  text-decoration: none;  
}

.container {
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #CCC;
}

.header h1 {
  color: #000;
  text-decoration: none;
  padding: 20px;
  font-size: 64px;
}

.category-list { 
  padding-left: 0;
  margin-top: 10px;
}

.category-list li {
  list-style: none;
  display: inline-block;
  float: left;
  width: 250px;
  border: 1px solid #CCC;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.category-list .category {
  width: 200px;
  text-align: center;
  line-height: 50px;
}

.category-list .category a div {
  width: inherit;
  height: inherit;
  font-size: 24px;

}

.post-list {
  margin-top: 20px;
}

.post {
  padding: 20px;
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

.post-title {
  font-size: 42px;
}

.post-body {
  font-size: 16px;
}

.post-author {
  padding-left: 20px;
  font-style: italic;
  font-size: 18px;
}


/* Category Page */
.add-post-btn {
  border: 1px solid #CCC;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*Add Post Page*/
.add-post {
  border: 1px solid #CCC;
}
.add-post .add-post-detail li {
  list-style: none;
  margin-top: 10px;
}

.add-post #add-post-detail-title {
  width: 50%;
}
.add-post #add-post-detail-body {
  width: 50%;
  height: 250px;
}